* {
    padding: 0;
    margin: 0;
}

[meu-atributo="valor"]{
   color: red;
}

[checked]{
    height: 50px;
    width: 50px;
}









/* body{
    color: initial;
}

.pai h1 ~ p {
    color: red;
} */